#sidebar {
}

.gray{
	background-color: rgb(245, 245, 245);
}

p strong{
	font-size: 15px;
}

.gray-box{
	padding-left: 10px;
	margin-top: 30px;
	margin: 10px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*Sidebar*/
#scrolling-sidebar {
    /*width:300px;*/
    float:left;
}

#content {
/*    width:724px;
    float:right;
    padding-left:24px;
*/}

/* navigation */
#scrolling-navbar {
/*    width:300px;
    background-color:rgb(240,240,240);
    border:solid 1px rgb(220,220,220);
    padding:0 12px;
*/}

#scrolling-navbar.stick {
    position: fixed;
    top: 0;
    z-index: 10000;
    margin-top:12px;
}

#scrolling-navbar ul {
    list-style-type:none;
    margin:0;
    padding:0;
}

#scrolling-navbar li {

}

#scrolling-navbar li a {
    color:rgb(50,50,50);
    font-weight:700;
    padding-left: 10px;
}

#scrolling-navbar li p{
    color:rgb(45,45,45);
    font-size: 17px;
}

a.nav-active {
    color:#ccc;
}
