header {
  background-image: url("../img/depan-01.jpg");
  background-size: 100% 100%; 
  padding: 0.5em;
  height: 60vh;
  width: 100%;
}
header #search-button {
  margin: 30vh 40vw;
  background-color: #0B4F7D;
}
section h3 {
  padding: 1em;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;

}
section {
  color: #0e3144 ;
  text-align: center;
  margin: 5em 0;
  min-height: 30vh;
}

#work i {
  font-size: 10em;
  color: #0e3144 ;
}

#work-container {
  margin-top: 2em;
}

@media screen and (max-width: 728px) {
    header #search-button {
      margin: 30vh 33vw;
      background-color: #0B4F7D;
    }
}