header {
  background-image: url("../img/header.jpg");
  padding: 0.5em;
  height: 50vh;
}
header .sign-up {
  margin: 20vh 40vw;
}
section h3 {
  padding: !em;
}
section {
  color: #0e3144 ;
  text-align: center;
  margin: 5em 0;
}

#work i {
  font-size: 10em;
  color: #0e3144 ;
}
